body {
  background: #1a1a1a;
  overflow: hidden;
  color: white;
}

.info:after {
  content: '';
  display: block;
  clear: both;
}

#cover {
  float: left;
  margin-right: 8px;
}

#title {
  padding-top: 13px;
}

#title, #artist {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.controls,
.window-controls {
  user-select: none;
}
.controls {
  text-align: center;
}
.control-btn {
  display: inline-block;
  margin: 6px;
  opacity: .4;
  background-size: contain;
  width: 28px;
  height: 28px;
}
.control-btn:hover {
  cursor: pointer;
  opacity: .85;
}
  .prev {
    background-image: url(img/prev.svg);
  }
  .play {
    background-image: url(img/play.svg);
  }
  .pause {
    background-image: url(img/pause.svg);
  }
  .next {
    background-image: url(img/next.svg);
  }
  .list {
    background-image: url(img/list.svg);
  }

/* window controls */
.window-controls {
  --color: white;
  --bg-color: #1a1a1a;

  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 0;
}

  .window-controls > * {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 2px;
    opacity: .4;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, .3);
    border-radius: 4px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .window-controls > *:hover {
    opacity: .85;
    cursor: pointer;
  }

  .unmaximize {
    position: relative;

    background-color: var(--bg-color);
  }

  .unmaximize:before,
  .unmaximize:after {
    content: '';
    display: inline-block;
    position: absolute;
  }

  .unmaximize:before {
    right: 1px;
    top: 1px;
    width: 10px;
    height: 10px;

    border-width: 1px;
    border-style: solid;
    border-color: var(--color);
    border-radius: 2px;
  }

  .unmaximize:after {
    left: 1px;
    bottom: 1px;
    width: 10px;
    height: 10px;

    outline-width: 1px;
    outline-style: dotted;
    outline-color: var(--color);
    outline-offset: -2px;
    background-color: var(--bg-color);
  }

  .arrow {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--bg-color);
    width: 8px;
    height: 8px;
    padding: 1px;
    box-sizing: border-box;
  }

  .arrow:before,
  .arrow:after {
    content: '';
    position: absolute;
    display: inline-block;
    background-color: var(--color);
    left: 1px;
    bottom: 1px;
  }

  .arrow:before {
    width: 1px;
    top: 2px;
  }

  .arrow:after {
    height: 1px;
    right: 2px;
  }

  .line {
    position: absolute;
    transform-origin: 0 100%;
    transform: rotate(45deg);
    width: 1px;
    height: 6px;
    bottom: 2px;
    background-color: var(--color);
  }

.hide-icon:after {
  content: '';
  display: block;
  height: 1px;
  width: 8px;
  background: var(--color);
  margin: 14px auto 0 auto;
}

.hide-icon:hover {
  opacity: .85;
  cursor: pointer;
}

.anchor {
  -webkit-app-region: drag;

  background-image: url(img/anchor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  opacity: .2;
}

.anchor:hover {
  cursor: default;
}

.progress-bar {
  margin-top: 8px;
  --progress-color: #FFDB4D;
  --loaded-color: #6B6B6B;
  --bar-color: #464646;

  height: 10px;
  background: var(--bar-color);
  position: relative;
  opacity: .8;
}

  #loaded {
    position: absolute;
    height: 100%;
    width: 0;
    background: var(--loaded-color);
  }

  #progress {
    position: absolute;
    height: 100%;
    width: 0;
    background: var(--progress-color);
  }

@media screen and (max-width: 200px) {
  @keyframes controls-fadeout {
    20% {
      opacity: .1;
    }

    50% {
      opacity: .1;
    }
  }

  @keyframes info-fadein {
    20% {
      opacity: .9;
    }

    50% {
      opacity: .9;
    }
  }

  body {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .progress-bar {
    position: fixed;
    bottom: 2px;
    left: 2px;
    right: 2px;
    height: 1px;
  }

    #loaded {
      display: none;
    }

  #title {
    padding-top: 0;
  }

  .animate-new-song .control-btn,
  .animate-new-song .info {
    animation-duration: 6s;
  }

  .animate-new-song .control-btn {
    animation-name: controls-fadeout;
  }

  .animate-new-song .info {
    animation-name: info-fadein;
  }

  .animate-new-song .control-btn:hover {
    opacity: .3;
  }

  .info {
    position: absolute;
    left: 0;
    right: 10px;
    display: inline-block;
    text-align: center;
    opacity: .1;
  }

  #cover {
    display: none;
  }

  .window-controls {
    left: 0;
  }

  .window-controls > * {
    float: right;
  }

  .anchor {
    float: left;
    width: 15px;
    height: 15px;
    background-size: 11px;
  }

  .unmaximize {
    transform: rotate(-90deg);
  }

    .unmaximize:before {
      top: 2px;
      right: 2px;
    }

    .arrow {
      transform: rotate(180deg);
      top: 4px;
      right: 4px;
      z-index: 1;
    }
      .line {
        height: 10px;
      }
}
